name: Deploy to AWS

on:
  push:
    branches:
      - main  # הצינור ירוץ רק כשדוחפים ל-main

env:
  ECR_REPOSITORY: asterra-geo-app
  LAMBDA_FUNCTION_NAME: dev-geo-processor # וודא שזה תואם לשם ב-Terraform

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        IMAGE_TAG: ${{ github.sha }} # משתמשים ב-Hash של הקומיט כגרסה
      run: |
        # בניית הקונטיינר
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG ./app
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:latest ./app
        
        # דחיפה ל-ECR
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest

    - name: Update Lambda Code
      run: |
        # מעדכן את הלמבדה להשתמש בגרסה החדשה שהרגע בנינו
        aws lambda update-function-code \
          --function-name ${{ env.LAMBDA_FUNCTION_NAME }} \
          --image-uri ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ github.sha }}